.key {
    font-weight: bold;
}

.btn-holder {
    button {
        margin: 10px;
    }
}

.card {
    margin: 20px;
    border: 3px black solid ;
    border-radius: 2%;
}
.vehicleImage
{
    object-fit: cover;
}